[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.2.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.7"
colorama = "==0.4.4"
configparser = "==5.0.2"
crayons = "==0.4.0"
et-xmlfile = "==1.1.0"
idna = "==3.3"
jmespath = "==0.10.0"
jsonschema = "==4.1.0"
openpyxl = "==3.0.9"
parameterized = "==0.7.0"
pyrsistent = "==0.18.0"
requests = "==2.26.0"
selenium = "==3.141.0"
urllib3 = "==1.26.7"
webdriver-manager = "==3.5.1"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
PyYAML = "==6.0"

[dev-packages]

[requires]
python_version = "3.8"
