Appium-Python-Client>=5.2.0
XTestRunner>=1.8.6
loguru~=0.7.0
openpyxl>=3.0.3
pyyaml>=6.0
jsonschema>=4.10.0
jmespath>=0.10.0
pymysql>=1.0.0
genson~=1.2.2
typer>=0.24.0
python-dateutil~=2.8.2
pycryptodome>=3.21.0