Appium-Python-Client>=2.1.0
XTestRunner>=1.6.2
parameterized==0.8.1
loguru==0.6.0
openpyxl>=3.0.3
pyyaml>=5.1
requests>=2.22.0
jsonschema>=3.2.0
jmespath>=0.10.0
webdriver-manager==3.8.5
pymysql>=1.0.0
genson==1.2.2
click==8.1.3
python-dateutil==2.8.2